[defaults]
vault_password_file=.password
collections_paths = /usr/share/ansible/collections

[galaxy]
server_list = automation_hub

[galaxy_server.automation_hub]
url=https://cloud.redhat.com/api/automation-hub/
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token

token=eyJhbGciOiJIUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJhZDUyMjdhMy1iY2ZkLTRjZjAtYTdiNi0zOTk4MzVhMDg1NjYifQ.eyJpYXQiOjE2OTEwNzQxMDMsImp0aSI6IjA3YzljNTE1LWUxNDEtNDlmYS1iNjRkLWRkYTU2NzNmZTYxZSIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiJmOjUyOGQ3NmZmLWY3MDgtNDNlZC04Y2Q1LWZlMTZmNGZlMGNlNjpyaG4tZ3BzLWFiZW5hdmlkIiwidHlwIjoiT2ZmbGluZSIsImF6cCI6ImNsb3VkLXNlcnZpY2VzIiwibm9uY2UiOiI4NDQ4MTk0Ni1mNjQ1LTRiYzEtOGVlOS04MGZmYzdkN2UzM2MiLCJzZXNzaW9uX3N0YXRlIjoiMDJkM2QzNjMtMjJiNy00MmMzLTlkZjAtZDc5MThlMjVkNTM5Iiwic2NvcGUiOiJvcGVuaWQgYXBpLmlhbS5zZXJ2aWNlX2FjY291bnRzIG9mZmxpbmVfYWNjZXNzIiwic2lkIjoiMDJkM2QzNjMtMjJiNy00MmMzLTlkZjAtZDc5MThlMjVkNTM5In0.W8Gy5WfAdxN2zdZWTJ5grJ0QAwBYSsQ6jKnSSOsi3Go